body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.micro-frontend {
  display: flex;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
